@import url(../css/font.css);
:root {
  --item: 0;
  --carousel_width: 75; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Latex_R;
  transition: 0.3s ease-in-out; }

*::selection {
  background-color: #faff00; }

nav {
  position: fixed;
  padding: 10px 0px;
  width: 100%;
  height: fit-content;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  align-items: center; }
  nav .logo_burger {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    nav .logo_burger .wrap_logo {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center; }
      nav .logo_burger .wrap_logo #logo {
        width: 150px; }
    nav .logo_burger .wrap_burger {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      nav .logo_burger .wrap_burger #burger {
        width: 25px;
        fill: currentColor;
        color: #0400ff;
        cursor: pointer;
        opacity: 0; }
  nav .empty {
    width: 10%; }
  nav .wrap_link {
    width: 65%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    nav .wrap_link a {
      padding: 3px 9px;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      color: #0400ff;
      border-radius: 6px; }
      nav .wrap_link a:nth-child(2) {
        background-color: #8c00ff;
        color: #f0f0f0; }
        nav .wrap_link a:nth-child(2):hover {
          background-color: #0400ff;
          color: #f0f0f0; }
      nav .wrap_link a:hover {
        color: #f0f0f0;
        background-color: #0400ff;
        border-radius: 6px; }

.content {
  width: 70%;
  height: fit-content;
  padding: 100px 0px 0px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }
  .content #header {
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 25px;
    color: #0400ff;
    border-top: 3px solid #0400ff;
    border-bottom: 3px solid #0400ff;
    text-align: center; }
  .content .detail {
    width: 100%;
    height: fit-content;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
    .content .detail:last-child {
      padding: 0; }
    .content .detail .title {
      padding: 2px 5px;
      font-size: 18px;
      font-weight: bold;
      color: #0400ff;
      border-right: 1px solid rgba(43, 43, 43, 0.6);
      border-bottom: 1px solid rgba(43, 43, 43, 0.6);
      outline: none;
      box-shadow: 2px 2px 4px #0400ff; }
    .content .detail .subtitle {
      margin-top: 10px;
      font-weight: bold; }
    .content .detail .about {
      width: 100%;
      height: fit-content;
      padding: 5px 5px 5px 50px; }
      .content .detail .about li {
        width: 100%;
        margin-top: 5px;
        font-size: 16px;
        color: #464646;
        text-align: justify; }
        .content .detail .about li .wrap_img {
          width: 100%;
          height: fit-content;
          padding: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
          .content .detail .about li .wrap_img img {
            width: 300px; }
          .content .detail .about li .wrap_img .note {
            text-align: center;
            color: #0400ff; }
        .content .detail .about li a {
          text-decoration: none;
          color: #0400ff; }
    .content .detail .wrap_carousel {
      padding: 50px 0px;
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10; }
      .content .detail .wrap_carousel .container .carousel {
        background: #fff;
        border: 2px solid #0400ff;
        border-radius: 5px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        position: relative;
        box-shadow: 4px 4px 10px rgba(4, 0, 255, 0.7); }
        .content .detail .wrap_carousel .container .carousel .slider {
          display: flex;
          height: 100%;
          flex-shrink: 0;
          transition: all 0.5s; }
          .content .detail .wrap_carousel .container .carousel .slider section {
            position: relative;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            background-color: transparent; }
            .content .detail .wrap_carousel .container .carousel .slider section p {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 90%;
              color: #f0f0f0;
              text-align: center; }
            .content .detail .wrap_carousel .container .carousel .slider section img {
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              opacity: 0.7;
              z-index: -2; }
            .content .detail .wrap_carousel .container .carousel .slider section .wrap_image {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: black;
              opacity: 0.5;
              z-index: -1; }

.footer {
  padding: 10px 20px;
  width: 100%;
  height: fit-content;
  background-color: #f0f0f0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center; }
  .footer .uni {
    padding: 5px 0px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-right: 2px #0400ff solid; }
    .footer .uni img {
      width: 50px; }
    .footer .uni .about_uni {
      padding: 0px 10px; }
      .footer .uni .about_uni p {
        font-weight: bold;
        color: #0400ff; }
  .footer .team {
    padding: 5px 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .footer .team p {
      font-weight: bold;
      color: #2b2b2b; }

@media (min-width: 500px) and (max-width: 952px) {
  nav {
    flex-direction: column; }
    nav .logo_burger {
      padding: 0px 30px;
      width: 100%; }
      nav .logo_burger .wrap_logo {
        justify-content: flex-start; }
    nav .empty {
      display: none; }
    nav .wrap_link {
      padding: 10px 30px;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; }
      nav .wrap_link a {
        margin: 5px 0px; }
  .content {
    width: 85%; }
    .content .wrap_carousel .container .carousel .slider section p {
      font-size: 20px;
      width: 100%; }
  .footer {
    flex-direction: column;
    padding: 10px 0px; }
    .footer .uni {
      width: 95%;
      justify-content: center;
      border: none; }
    .footer .team {
      width: 100%;
      justify-content: center; }
      .footer .team p {
        padding: 5px 120px;
        border-top: 2px #0400ff solid; } }

@media (max-width: 500px) {
  nav {
    flex-direction: column; }
    nav .logo_burger {
      padding: 0px 30px;
      width: 100%; }
      nav .logo_burger .wrap_logo {
        justify-content: flex-start; }
    nav .empty {
      display: none; }
    nav .wrap_link {
      padding: 10px 30px;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; }
      nav .wrap_link a {
        margin: 5px 0px; }
  .content {
    width: 85%; }
    .content .wrap_carousel .container .carousel .slider section p {
      font-size: 16px;
      width: 100%; } }
